[submodule "dns_blocklists"]
	path = dns_blocklists
	url = https://github.com/zebpalmer/dns_blocklists
[submodule "hosts-blocklists"]
	path = hosts-blocklists
	url = https://github.com/notracking/hosts-blocklists
